<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


{{#ifnoteq  xyz  ''}}
{{#each errors}}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    {{this.msg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/each}}
{{/ifnoteq}}



{{#ifnoteq success_msg ""}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ success_msg }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/ifnoteq}}




{{#ifnoteq error_msg ""}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error_msg}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/ifnoteq}}

{{#ifnoteq error ""}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{{/ifnoteq}}