<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity Adder</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
        integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
        crossorigin="anonymous"></script>
</head>
<style>
    body{
        font-family: sans-serif;
        background-color: #6884c0;
    }
    .hed{
        text-align: center;
        border-bottom: 2px solid;
        padding: 0 0 4px;
    }
    
    form{
        margin-top: 25px;
        background-color: #EAF0F1;
        padding: 50px 35%;
    }

    .form-group input{
        width: 25rem;
    }
    
    .logout{
        padding: 50px 0px;
       text-align: center;
    
    }
    .logout a{
        display: inline-block;
        margin-right: 25px;
        font-weight: 500;
    }
</style>
<body>
    <div class="container">
        <div class="hed">
            <strong><h1 class="mt-4">Entity Adder</h1></strong>
        </div>
        
        
        
        <div class="container">
            
            <form action="/add" method="post">
                <div class="hed">
                    <h2>Welcome <span style="color: chocolate;">{{user.name}}</span> </h2>
                </div>
                <br><br><br><br>
                <h3><strong>Add details</strong></h3>
                <br>
                <div class="form-group">
                    <label for="name">Display Name</label>
                    <input type="text" name="name" class="form-control" placeholder="Eg.- Country">
                </div>
                <div class="form-group">
                    <label for="kind">KIND</label>
                    <input type="text" name="kind" class="form-control" placeholder="KIND_MAP">
                </div>
                <div id="dynamicInput">
                    <div class="form-group">
                        <label for="value[]">Value</label>
                        <input type="text" name="value[]" class="form-control" placeholder="USA">
                    </div>
        
                    <div class="form-group">
                        <label for="synonyms[]">Synonyms <strong>enter values separated by comma ,</strong> </label>
                        <input type="text" name="synonyms[]" class="form-control" placeholder="US, USA , United States">
                    </div>
                </div>
        
                <input type="button"class="btn btn-info" value="Add More Values and Synonyms" onClick="addInput('dynamicInput');">
                <br><br>
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
        
        
        </div>
       
        <div class="logout">
            <a href="/" class="btn btn-danger">Go to home</a>
            <a href="/users/logout" class="btn btn-warning">Logout</a>
        </div>
        
    </div>
    

    <script>
            var counter = 1;

                var limit = 3;

                function addInput(divName) {

                    if (counter == limit) {

                        alert("You have reached the limit of adding " + counter + " inputs");

                    }

                    else {

                        var newdiv = document.createElement('div');

                        newdiv.innerHTML = "Entry " + (counter + 1) + ` <div class="form-group">
                    <label for="value[]">Value</label>
                    <input type="text" name="value[]" class="form-control" placeholder="India">
                </div>
                
                <div class="form-group">
                    <label for="synonyms[]">Synonyms <strong>enter values separated by comma ,</strong> </label>
                    <input type="text" name="synonyms[]" class="form-control" placeholder="IN, India , Bharat">
                </div>`;

                        document.getElementById(divName).appendChild(newdiv);

                        counter++;

                    }

                }
    </script>
</body>
</html>